<%- include('../partials/header') %>

<main class="main" id="main">
    <section class="section" id="section">
        <div class="container">
            <h2>All the Episodes that you need to watch. The rest are meh...</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <% episodes.forEach(episode => { %>
                    <div class="col">
                        <div class="episode-div">
                            <h3>
                                <a href="/episodes/<%=episode.id %>">
                                    <%= episode.title %></h3>
                                </a>
                            <ul>
                                <li>Season - Episode: <%= episode.number %></li>
                                <li>Writers (let's hope they got paid...): <%= episode.writers %></li>
                                <li>Orignal Air Date: <%= episode.originalAirDate %></li>
                            </ul>
                            <p>Description: <%= episode.desc %></p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>
</main>

<%- include('../partials/footer') %>