<%- include('../partials/header') %>

<main class="main" id="main">
    <p>Written By: <%= data.writers %></p>
    <p>Original Air Date: <%= data.originalAirDate %></p>
    <p><%= data.desc %></p>
</main>

<%- include('../partials/footer') %>